.web-header4 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  width: 1440px;
  height: 60px;
}
.page-selector5,
.search-bar5 {
  position: absolute;
  top: 55px;
  left: 580px;
  background-color: var(--color-cadetblue);
  width: 30px;
  height: 5px;
}
.search-bar5 {
  top: 6px;
  left: 730px;
  background-color: var(--white);
  border: 4px solid var(--color-cadetblue);
  box-sizing: border-box;
  width: 280px;
  height: 48px;
}
.ask-a-question-button5 {
  position: absolute;
  top: 6px;
  left: 1030px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-2xl);
  background-color: var(--color-cadetblue);
  width: 180px;
  height: 48px;
}
.ask-a-question4,
.search-posts4 {
  position: absolute;
  top: 22px;
  display: inline-block;
}
.ask-a-question4 {
  left: 1058px;
  width: 135px;
  height: 20px;
}
.search-posts4 {
  left: 780px;
  color: var(--color-lightblue);
  min-width: 100px;
}
.magnifying-galss-icon4 {
  position: absolute;
  top: 25px;
  left: 749px;
  width: 20.7px;
  height: 20.7px;
  overflow: hidden;
}
.post-board5 {
  border: 1px solid var(--color-cadetblue);
  background-color: var(--white);
  height: 161px;
  width: 780px;
  outline: 0;
  position: absolute;
  top: 119px;
  left: 330px;
  box-sizing: border-box;
}
.communities-prompt {
  position: absolute;
  top: 144px;
  left: 357px;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightblue);
  width: 40px;
  height: 38px;
}
.communities-icon4 {
  position: absolute;
  top: 148px;
  left: 362px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.posts-is-better,
.what-might-interest {
  margin: 0;
}
.posts-is-better-container {
  position: absolute;
  top: 187px;
  left: 402px;
  font-size: var(--font-size-xl);
  color: var(--color-lightblue);
  display: inline-block;
  width: 528px;
}
.h3,
.join-communities-on {
  margin: 0;
  position: absolute;
  font-weight: 800;
  font-family: inherit;
  color: var(--color-cadetblue);
  display: inline-block;
}
.join-communities-on {
  top: 149px;
  left: 402px;
  font-size: var(--font-size-5xl);
  width: 350px;
}
.h3 {
  top: 143px;
  left: 980px;
  font-size: 23px;
  width: 30px;
  height: 28px;
  min-width: 30px;
}
.all-notifications-rect,
.join-communities-button,
.sections-child1,
.sections-child2,
.sections-child3,
.sections-child4,
.sections-child5 {
  align-self: stretch;
  height: 3px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-cadetblue);
}
.sections2 {
  position: absolute;
  top: 120px;
  left: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 55px;
}
.filters {
  font-weight: 800;
}
.all-notifications,
.filters {
  align-self: stretch;
  position: relative;
}
.communities {
  position: absolute;
  top: 99px;
  left: 183px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-19xl);
  text-align: center;
}
.notifications {
  position: absolute;
  top: 97px;
  left: 330px;
  font-weight: 800;
  display: inline-block;
  width: 133px;
}
.and-mentions,
.comments {
  margin: 0;
}
.comments-and-mentions-container,
.communities1,
.upvotes,
.your-content,
.your-profile {
  position: absolute;
  top: 194px;
  left: 175px;
  text-align: center;
  display: inline-block;
  width: 133px;
}
.communities1,
.upvotes,
.your-content,
.your-profile {
  top: 270px;
}
.communities1,
.your-content,
.your-profile {
  top: 327px;
}
.communities1,
.your-content {
  top: 384px;
}
.communities1 {
  top: 441px;
}
.answer-icon4,
.communities-icon5,
.home-icon4,
.notifications-icon4 {
  position: absolute;
  top: 19px;
  left: 480px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.communities-icon5,
.home-icon4,
.notifications-icon4 {
  left: 530px;
}
.home-icon4,
.notifications-icon4 {
  top: 20px;
  left: 580px;
}
.home-icon4 {
  top: 19px;
  left: 380px;
}
.following-icon3,
.posts-logo-icon4 {
  position: absolute;
  top: 7px;
  left: 180px;
  width: 80px;
  height: 48px;
  overflow: hidden;
}
.following-icon3 {
  top: 19px;
  left: 430px;
  width: 30px;
  height: 30px;
}
.notifications-page {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: var(--color-lightblue);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 450px) {
  .posts-is-better-container {
    font-size: var(--font-size-base);
  }
  .join-communities-on {
    font-size: var(--font-size-lgi);
  }
  .h3 {
    font-size: 18px;
  }
}
